@tailwind base;
@tailwind components;
@tailwind utilities;

/* .clip_bg_cover {
  clipPath: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.clip_hero_page {
  clipPath: polygon(0 0, 100% 0, 100% 85%, 0 100%);
} */

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--foreground: #030712;
	--muted-foreground: #374151;
	--radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));

	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	font-family: var(--font-poppins);
}

/* #splide01 {
	padding: 0px !important;
} */

.heroSliderHome {
	padding: 0px !important;
}

.swiper-pagination-bullet {
	background-color: "white" !important;
}

.swiper-pagination-bullet-active {
	background-color: "#7c3aed" !important;
}

.splide__pagination__page {
	background-color: lightgray !important;
}

.splide__pagination__page.is-active {
	background-color: black !important;
}

.splide__arrow svg {
	fill: black !important;
}

.splide__arrow:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar:horizontal {
	height: 4px;
}

/* Customize the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
	background-color: #94a3b8; /* Replace with your desired color */
}

/* Customize the scrollbar track (the area behind the scrollbar) on hover */
::-webkit-scrollbar-track {
	background: #111827; /* Replace with a background color for the track */
}

.parent-list {
	padding-left: 100px;
}

.list-heading {
	display: inline-block;
	font-weight: 600;
}
